# SETTINGS
NODE_ENV=development
PORT=3303


# DATABASE
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/teaching_docs?schema=public"


# JWT Authentication
JWT_ACCESS_SECRET=bffa0270e160e7c8c67ecec245d0b0259917e3f6bde8f39f3b218f5f9bd504f0
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=08dc52e29cc263925a681c9e3f36669c529a58e2f6673c1ceb78551b7d2e58c0
JWT_REFRESH_EXPIRES_IN=7d